body {
    background: linear-gradient(#374151, #111827)
}

header {
    margin: 80px 190px 0px 192px;
    display: flex;
    justify-content: space-between;
}
nav {
    max-width: 1440px;
}

h1,
h2,
article {
    color: #FFFFFF
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 14px 0 0 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.sectionProfile {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.personalInfo>p {
  display: flex;
}

.info{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        color: #FFFFFF;
        margin: 80px 0 0 0; 
        opacity: 60%;
    }

    .userinfo {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #FFFFFF;
        opacity: 60%;
    }

    .sectionText{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        color: #FFFFFF;
        margin: 69px 367px 0 365px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 nav a{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        color: #FFFFFF;
        text-decoration: none;
        margin: 0;
    }

.bloglink{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        color: #FFFFFF;
        text-decoration: none;
        margin: 14px 77px 0px 0;     
    }

    input{
        background-color: #1F293799;
        color: #FFFFFF;
        width: 224px;
        height: 40px;
        border-radius: 32px;
        padding: 5px 10px;
    }

    footer{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        Opacity: 60%;
        line-height: 28px;
        color: #FFFFFF;
        margin: 103px 0 77px 0;
        text-align: center;
    }
    
article a{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #FFFFFF;
    }

    .heroText {
        text-align: center;
    }

    article {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #FFFFFF;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 52px;
    }

    div {
        margin: 28px 0 0 0;
        text-align: center;
    }

    form {
        margin-left: 229px;
    }